Pygments==1.6
argparse==1.2.1
httpie==0.8.0
requests==2.20.0
six==1.10.0
slackclient==1.0.5
ssh-import-id==3.21
urllib3==1.7.1
websocket-client==0.40.0
wheel==0.29.0
python-dotenv==0.6.4
apiai==1.2.3
