PyYAML==3.10
Pygments==1.6
ansible==2.3.0.0
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
httpie==0.8.0
pyserial==2.6
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
requests==2.2.1
six==1.10.0
slackclient==1.0.5
ssh-import-id==3.21
urllib3==1.7.1
websocket-client==0.40.0
wheel==0.29.0
